@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}
/* HEADER */
header{ 
    border-bottom: 2px solid gray;
    padding: 3px 0;
}
#conteiner_header{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#icon{
    border: 2px solid green;
    padding: 3px 6px;
    border-radius: 50px;
    color: green;
    font-size: 1.8em;
    margin-top: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;

}
#text_logo{
    color: gray;
}
span{
    color: green;
}
#text_add{
    font-size: .5em;
    margin-left: 5px;
}
/* BARRA DE PESQUISA */
#conteiner_pag{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 5px;
    margin-bottom: 10px;
}
#f_pesquisar{
    width: 70%;
    height: 30px;
    border: 2px solid gray;
    border-radius: 5px;
}
#f_pesquisar:focus{
    border: 2px solid blue;
}
#btn_add{
    border: 2px solid green;
    width: 150px;
    background-color: white;

}
#btn_add:hover{
    border: 2px solid green;
    background-color: green;
    color: aliceblue;
}

table{
    margin-top: 30px;
    border: 2px solid gray;
    border-radius: 10px;
}
#table_contatos{
    margin: auto;
}
.itensrow{
    padding: 5px 20px;
}
.itensrowtd{
    text-align: center;
    height: 40px;
}
tbody >tr:nth-child(even){
    background-color: rgba(177, 176, 176, 0.301);
}
/* modal */
.modal_addcontato{
    border: 2px solid gray;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    display: none;

}
.textmodal{
    text-align: center;
    padding-top: 5px;
    padding-left: 30px;
    font-size: 1.3em;
    color: rgb(3, 178, 0);
    
}
.body_modal{
    margin: 50px; 
}
.cadastro_inputs{
    margin: 10px 0; 
}
#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 26, 0.749);
    z-index: 5;
    display: none;
    
}
.modal_addcontato{
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
    z-index: 10;

}
.conteiner_header{
    display: flex;
    justify-content: center;
}
.iconx{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 15;
}
#iconxhi{
    margin-left: 80px;
    color: green;
    font-size: 1.2em;
    padding: 0 3px;
    border-radius: 50px;
    border: 2px solid green;
    z-index: 15;
    cursor: pointer;
}
#conteiner_header2{
    border-bottom: 2px solid gray;
    margin: auto;
    display: flex;
    align-items: center;
}
#btn_cad{
    border: 2px solid green;
    color: green;
    width: 50%;
    height: 30px;
    font-weight: 600;
    margin-top: 20px;
}
#btn_cad:hover{
    background-color: green;
    color: white;
}
/* pesquisa */
.seletores{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.texterror{
    color: red;
    margin: 5px 150px;
}
.fa-solid, .fa-trash-can{
    margin-left: 40px;
    cursor: pointer;
}